<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h5 class="fw-bold mb-0">Hola, {{nombreUsuario}}</h5>
      <button class="btn btn-dark" (click)="cerrarSesion()">Cerrar Sesión</button>
    </div>
  
    <div class="card p-4 shadow-sm">
      <h5 class="fw-bold mb-4">Gestionar Solicitudes de Préstamos</h5>
  
      <div *ngFor="let prestamo of listaPrestamos" class="border rounded p-3 mb-3">
        <p class="mb-2">
          Usuario: {{prestamo.usuario.email}} - Monto: ${{prestamo.monto}} - Estado: {{prestamo.estado}}
        </p>
        <div *ngIf="prestamo.estado === 'PENDIENTE'" class="d-flex gap-2">
          <button class="btn btn-dark" (click)="aprobar(prestamo.id)">Aprobar</button>
          <button class="btn btn-danger" (click)="rechazar(prestamo.id)">Rechazar</button>
        </div>
      </div>
  
    </div>
  </div>